<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Rohit T P">
    <meta name="description"
          content="I am  Rohit T P, Second year computer science student at school of engineering CUSAT.And Chief Technical Officer of Trebuchet Systems.">
    <meta name="keywords" content="rohit tp, who is rohit tp , rohit, cto trebuchet, trebuchet, cusat, tinkerhub">

    <title>Hi 👋</title>
</head>
<body>
    <div id="container"></div>
    <div id="blocker"></div>
</body>
</html>
